.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

html:not([dir="rtl"]) .dropdown-toggle::after {
  margin-left: 0.255em;
}

*[dir="rtl"] .dropdown-toggle::after {
  margin-right: 0.255em;
}

html:not([dir="rtl"]) .dropdown-toggle:empty::after {
  margin-left: 0;
}

*[dir="rtl"] .dropdown-toggle:empty::after {
  margin-right: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 0.25rem;
  color: #4f5d73;
  background-color: #fff;
  border-color: #d8dbe0;
}

.c-header .dropdown-menu,
.navbar .dropdown-menu,
[data-display^="static"] ~ .dropdown-menu {
  margin: 0.125rem 0 0;
}

html:not([dir="rtl"]) .c-header .dropdown-menu-left, html:not([dir="rtl"])
.navbar .dropdown-menu-left, html:not([dir="rtl"])
[data-display^="static"] ~ .dropdown-menu-left {
  right: auto;
  left: 0;
}

*[dir="rtl"] .c-header .dropdown-menu-left, *[dir="rtl"]
.navbar .dropdown-menu-left, *[dir="rtl"]
[data-display^="static"] ~ .dropdown-menu-left {
  right: 0;
  left: auto;
}

html:not([dir="rtl"]) .c-header .dropdown-menu-right, html:not([dir="rtl"])
.navbar .dropdown-menu-right, html:not([dir="rtl"])
[data-display^="static"] ~ .dropdown-menu-right {
  right: 0;
  left: auto;
}

*[dir="rtl"] .c-header .dropdown-menu-right, *[dir="rtl"]
.navbar .dropdown-menu-right, *[dir="rtl"]
[data-display^="static"] ~ .dropdown-menu-right {
  right: auto;
  left: 0;
}

@media (min-width: 576px) {
  html:not([dir="rtl"]) .c-header .dropdown-menu-sm-left, html:not([dir="rtl"])
  .navbar .dropdown-menu-sm-left, html:not([dir="rtl"])
  [data-display^="static"] ~ .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }
  *[dir="rtl"] .c-header .dropdown-menu-sm-left, *[dir="rtl"]
  .navbar .dropdown-menu-sm-left, *[dir="rtl"]
  [data-display^="static"] ~ .dropdown-menu-sm-left {
    right: 0;
    left: auto;
  }
  html:not([dir="rtl"]) .c-header .dropdown-menu-sm-right, html:not([dir="rtl"])
  .navbar .dropdown-menu-sm-right, html:not([dir="rtl"])
  [data-display^="static"] ~ .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
  *[dir="rtl"] .c-header .dropdown-menu-sm-right, *[dir="rtl"]
  .navbar .dropdown-menu-sm-right, *[dir="rtl"]
  [data-display^="static"] ~ .dropdown-menu-sm-right {
    right: auto;
    left: 0;
  }
}

@media (min-width: 768px) {
  html:not([dir="rtl"]) .c-header .dropdown-menu-md-left, html:not([dir="rtl"])
  .navbar .dropdown-menu-md-left, html:not([dir="rtl"])
  [data-display^="static"] ~ .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }
  *[dir="rtl"] .c-header .dropdown-menu-md-left, *[dir="rtl"]
  .navbar .dropdown-menu-md-left, *[dir="rtl"]
  [data-display^="static"] ~ .dropdown-menu-md-left {
    right: 0;
    left: auto;
  }
  html:not([dir="rtl"]) .c-header .dropdown-menu-md-right, html:not([dir="rtl"])
  .navbar .dropdown-menu-md-right, html:not([dir="rtl"])
  [data-display^="static"] ~ .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
  *[dir="rtl"] .c-header .dropdown-menu-md-right, *[dir="rtl"]
  .navbar .dropdown-menu-md-right, *[dir="rtl"]
  [data-display^="static"] ~ .dropdown-menu-md-right {
    right: auto;
    left: 0;
  }
}

@media (min-width: 992px) {
  html:not([dir="rtl"]) .c-header .dropdown-menu-lg-left, html:not([dir="rtl"])
  .navbar .dropdown-menu-lg-left, html:not([dir="rtl"])
  [data-display^="static"] ~ .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }
  *[dir="rtl"] .c-header .dropdown-menu-lg-left, *[dir="rtl"]
  .navbar .dropdown-menu-lg-left, *[dir="rtl"]
  [data-display^="static"] ~ .dropdown-menu-lg-left {
    right: 0;
    left: auto;
  }
  html:not([dir="rtl"]) .c-header .dropdown-menu-lg-right, html:not([dir="rtl"])
  .navbar .dropdown-menu-lg-right, html:not([dir="rtl"])
  [data-display^="static"] ~ .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }
  *[dir="rtl"] .c-header .dropdown-menu-lg-right, *[dir="rtl"]
  .navbar .dropdown-menu-lg-right, *[dir="rtl"]
  [data-display^="static"] ~ .dropdown-menu-lg-right {
    right: auto;
    left: 0;
  }
}

@media (min-width: 1200px) {
  html:not([dir="rtl"]) .c-header .dropdown-menu-xl-left, html:not([dir="rtl"])
  .navbar .dropdown-menu-xl-left, html:not([dir="rtl"])
  [data-display^="static"] ~ .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }
  *[dir="rtl"] .c-header .dropdown-menu-xl-left, *[dir="rtl"]
  .navbar .dropdown-menu-xl-left, *[dir="rtl"]
  [data-display^="static"] ~ .dropdown-menu-xl-left {
    right: 0;
    left: auto;
  }
  html:not([dir="rtl"]) .c-header .dropdown-menu-xl-right, html:not([dir="rtl"])
  .navbar .dropdown-menu-xl-right, html:not([dir="rtl"])
  [data-display^="static"] ~ .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
  *[dir="rtl"] .c-header .dropdown-menu-xl-right, *[dir="rtl"]
  .navbar .dropdown-menu-xl-right, *[dir="rtl"]
  [data-display^="static"] ~ .dropdown-menu-xl-right {
    right: auto;
    left: 0;
  }
}

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.dropup .dropdown-toggle::after {
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

html:not([dir="rtl"]) .dropup .dropdown-toggle::after {
  margin-left: 0.255em;
}

*[dir="rtl"] .dropup .dropdown-toggle::after {
  margin-right: 0.255em;
}

html:not([dir="rtl"]) .dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

*[dir="rtl"] .dropup .dropdown-toggle:empty::after {
  margin-right: 0;
}

.dropright .dropdown-menu {
  top: 0;
  margin-top: 0;
}

html:not([dir="rtl"]) .dropright .dropdown-menu {
  right: auto;
  left: 100%;
  margin-left: 0.125rem;
}

*[dir="rtl"] .dropright .dropdown-menu {
  right: 100%;
  left: auto;
  margin-right: 0.125rem;
}

.dropright .dropdown-toggle::after {
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

html:not([dir="rtl"]) .dropright .dropdown-toggle::after {
  margin-left: 0.255em;
}

*[dir="rtl"] .dropright .dropdown-toggle::after {
  margin-right: 0.255em;
}

html:not([dir="rtl"]) .dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}

*[dir="rtl"] .dropright .dropdown-toggle:empty::after {
  margin-right: 0;
}

.dropright .dropdown-toggle::after {
  vertical-align: 0;
}

.dropleft .dropdown-menu {
  top: 0;
  margin-top: 0;
}

html:not([dir="rtl"]) .dropleft .dropdown-menu {
  right: 100%;
  left: auto;
  margin-right: 0.125rem;
}

*[dir="rtl"] .dropleft .dropdown-menu {
  right: auto;
  left: 100%;
  margin-left: 0.125rem;
}

.dropleft .dropdown-toggle::after {
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
}

html:not([dir="rtl"]) .dropleft .dropdown-toggle::after {
  margin-left: 0.255em;
}

*[dir="rtl"] .dropleft .dropdown-toggle::after {
  margin-right: 0.255em;
}

.dropleft .dropdown-toggle::after {
  display: none;
}

.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}

html:not([dir="rtl"]) .dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}

*[dir="rtl"] .dropleft .dropdown-toggle:empty::after {
  margin-right: 0;
}

.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #d8dbe0;
}

.dropdown-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.25rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  color: #4f5d73;
}

.dropdown-item:hover, .dropdown-item:focus {
  text-decoration: none;
  color: #455164;
  background-color: #ebedef;
}

.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  color: #fff;
  background-color: #321fdb;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  pointer-events: none;
  background-color: transparent;
  color: #8a93a2;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.25rem;
  margin-bottom: 0;
  font-size: 0.765625rem;
  white-space: nowrap;
  color: #8a93a2;
}

.dropdown-item-text {
  display: block;
  padding: 0.5rem 1.25rem;
  color: #4f5d73;
}

/*# sourceMappingURL=dropdown.css.map */