.c-header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-height: 56px;
}

.c-header[class*="bg-"] {
  border-color: rgba(0, 0, 21, 0.1);
}

.c-header.c-header-fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1029;
}

.c-header .c-subheader {
  border-bottom: 0;
}

.c-header-brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-height: 56px;
  transition: width 0.3s;
}

.c-header-brand.c-header-brand-center {
  position: absolute;
  top: 56px;
  transform: translate(-50%, -100%);
}

html:not([dir="rtl"]) .c-header-brand.c-header-brand-center {
  left: 50%;
}

*[dir="rtl"] .c-header-brand.c-header-brand-center {
  right: 50%;
}

@media (max-width: 575.98px) {
  .c-header-brand.c-header-brand-xs-down-center {
    position: absolute;
    top: 56px;
    transform: translate(-50%, -100%);
  }
  html:not([dir="rtl"]) .c-header-brand.c-header-brand-xs-down-center {
    left: 50%;
  }
  *[dir="rtl"] .c-header-brand.c-header-brand-xs-down-center {
    right: 50%;
  }
}

.c-header-brand.c-header-brand-xs-up-center {
  position: absolute;
  top: 56px;
  transform: translate(-50%, -100%);
}

html:not([dir="rtl"]) .c-header-brand.c-header-brand-xs-up-center {
  left: 50%;
}

*[dir="rtl"] .c-header-brand.c-header-brand-xs-up-center {
  right: 50%;
}

@media (max-width: 767.98px) {
  .c-header-brand.c-header-brand-sm-down-center {
    position: absolute;
    top: 56px;
    transform: translate(-50%, -100%);
  }
  html:not([dir="rtl"]) .c-header-brand.c-header-brand-sm-down-center {
    left: 50%;
  }
  *[dir="rtl"] .c-header-brand.c-header-brand-sm-down-center {
    right: 50%;
  }
}

@media (min-width: 576px) {
  .c-header-brand.c-header-brand-sm-up-center {
    position: absolute;
    top: 56px;
    transform: translate(-50%, -100%);
  }
  html:not([dir="rtl"]) .c-header-brand.c-header-brand-sm-up-center {
    left: 50%;
  }
  *[dir="rtl"] .c-header-brand.c-header-brand-sm-up-center {
    right: 50%;
  }
}

@media (max-width: 991.98px) {
  .c-header-brand.c-header-brand-md-down-center {
    position: absolute;
    top: 56px;
    transform: translate(-50%, -100%);
  }
  html:not([dir="rtl"]) .c-header-brand.c-header-brand-md-down-center {
    left: 50%;
  }
  *[dir="rtl"] .c-header-brand.c-header-brand-md-down-center {
    right: 50%;
  }
}

@media (min-width: 768px) {
  .c-header-brand.c-header-brand-md-up-center {
    position: absolute;
    top: 56px;
    transform: translate(-50%, -100%);
  }
  html:not([dir="rtl"]) .c-header-brand.c-header-brand-md-up-center {
    left: 50%;
  }
  *[dir="rtl"] .c-header-brand.c-header-brand-md-up-center {
    right: 50%;
  }
}

@media (max-width: 1199.98px) {
  .c-header-brand.c-header-brand-lg-down-center {
    position: absolute;
    top: 56px;
    transform: translate(-50%, -100%);
  }
  html:not([dir="rtl"]) .c-header-brand.c-header-brand-lg-down-center {
    left: 50%;
  }
  *[dir="rtl"] .c-header-brand.c-header-brand-lg-down-center {
    right: 50%;
  }
}

@media (min-width: 992px) {
  .c-header-brand.c-header-brand-lg-up-center {
    position: absolute;
    top: 56px;
    transform: translate(-50%, -100%);
  }
  html:not([dir="rtl"]) .c-header-brand.c-header-brand-lg-up-center {
    left: 50%;
  }
  *[dir="rtl"] .c-header-brand.c-header-brand-lg-up-center {
    right: 50%;
  }
}

.c-header-brand.c-header-brand-xl-down-center {
  position: absolute;
  top: 56px;
  transform: translate(-50%, -100%);
}

html:not([dir="rtl"]) .c-header-brand.c-header-brand-xl-down-center {
  left: 50%;
}

*[dir="rtl"] .c-header-brand.c-header-brand-xl-down-center {
  right: 50%;
}

@media (min-width: 1200px) {
  .c-header-brand.c-header-brand-xl-up-center {
    position: absolute;
    top: 56px;
    transform: translate(-50%, -100%);
  }
  html:not([dir="rtl"]) .c-header-brand.c-header-brand-xl-up-center {
    left: 50%;
  }
  *[dir="rtl"] .c-header-brand.c-header-brand-xl-up-center {
    right: 50%;
  }
}

.c-header-toggler {
  min-width: 50px;
  font-size: 1.09375rem;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
}

@media (hover: hover), (-ms-high-contrast: none) {
  .c-header-toggler:hover {
    color: #4f5d73;
    text-decoration: none;
  }
}

.c-header-toggler:focus, .c-header-toggler.focus {
  outline: 0;
}

.c-header-toggler:not(:disabled):not(.c-disabled) {
  cursor: pointer;
}

.c-header-toggler-icon {
  display: block;
  height: 1.367188rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.c-header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 56px;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.c-header-nav .c-header-nav-item {
  position: relative;
}

.c-header-nav .c-header-nav-btn {
  background-color: transparent;
  border: 1px solid transparent;
}

@media (hover: hover), (-ms-high-contrast: none) {
  .c-header-nav .c-header-nav-btn:hover {
    text-decoration: none;
  }
}

.c-header-nav .c-header-nav-btn:focus, .c-header-nav .c-header-nav-btn.focus {
  outline: 0;
}

.c-header-nav .c-header-nav-link,
.c-header-nav .c-header-nav-btn {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.c-header-nav .c-header-nav-link .badge,
.c-header-nav .c-header-nav-btn .badge {
  position: absolute;
  top: 50%;
  margin-top: -16px;
}

html:not([dir="rtl"]) .c-header-nav .c-header-nav-link .badge, html:not([dir="rtl"])
.c-header-nav .c-header-nav-btn .badge {
  left: 50%;
  margin-left: 0;
}

*[dir="rtl"] .c-header-nav .c-header-nav-link .badge, *[dir="rtl"]
.c-header-nav .c-header-nav-btn .badge {
  right: 50%;
  margin-right: 0;
}

.c-header-nav .c-header-nav-link:hover,
.c-header-nav .c-header-nav-btn:hover {
  text-decoration: none;
}

.c-header-nav .dropdown-item {
  min-width: 180px;
}

.c-header.c-header-dark {
  background: #3c4b64;
  border-bottom: 1px solid #636f83;
}

.c-header.c-header-dark .c-subheader {
  margin-top: -1px;
  border-top: 1px solid #636f83;
}

.c-header.c-header-dark .c-header-brand {
  color: #fff;
  background-color: transparent;
}

.c-header.c-header-dark .c-header-brand:hover, .c-header.c-header-dark .c-header-brand:focus {
  color: #fff;
}

.c-header.c-header-dark .c-header-nav .c-header-nav-link,
.c-header.c-header-dark .c-header-nav .c-header-nav-btn {
  color: rgba(255, 255, 255, 0.75);
}

.c-header.c-header-dark .c-header-nav .c-header-nav-link:hover, .c-header.c-header-dark .c-header-nav .c-header-nav-link:focus,
.c-header.c-header-dark .c-header-nav .c-header-nav-btn:hover,
.c-header.c-header-dark .c-header-nav .c-header-nav-btn:focus {
  color: rgba(255, 255, 255, 0.9);
}

.c-header.c-header-dark .c-header-nav .c-header-nav-link.c-disabled,
.c-header.c-header-dark .c-header-nav .c-header-nav-btn.c-disabled {
  color: rgba(255, 255, 255, 0.25);
}

.c-header.c-header-dark .c-header-nav .c-show > .c-header-nav-link,
.c-header.c-header-dark .c-header-nav .c-active > .c-header-nav-link,
.c-header.c-header-dark .c-header-nav .c-header-nav-link.c-show,
.c-header.c-header-dark .c-header-nav .c-header-nav-link.c-active {
  color: #fff;
}

.c-header.c-header-dark .c-header-toggler {
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.1);
}

.c-header.c-header-dark .c-header-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-header.c-header-dark .c-header-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-header.c-header-dark .c-header-text {
  color: rgba(255, 255, 255, 0.75);
}

.c-header.c-header-dark .c-header-text a {
  color: #fff;
}

.c-header.c-header-dark .c-header-text a:hover, .c-header.c-header-dark .c-header-text a:focus {
  color: #fff;
}

.c-header {
  background: #fff;
  border-bottom: 1px solid #d8dbe0;
}

.c-header .c-subheader {
  margin-top: -1px;
  border-top: 1px solid #d8dbe0;
}

.c-header .c-header-brand {
  color: #4f5d73;
  background-color: transparent;
}

.c-header .c-header-brand:hover, .c-header .c-header-brand:focus {
  color: #3a4555;
}

.c-header .c-header-nav .c-header-nav-link,
.c-header .c-header-nav .c-header-nav-btn {
  color: rgba(0, 0, 21, 0.5);
}

.c-header .c-header-nav .c-header-nav-link:hover, .c-header .c-header-nav .c-header-nav-link:focus,
.c-header .c-header-nav .c-header-nav-btn:hover,
.c-header .c-header-nav .c-header-nav-btn:focus {
  color: rgba(0, 0, 21, 0.7);
}

.c-header .c-header-nav .c-header-nav-link.c-disabled,
.c-header .c-header-nav .c-header-nav-btn.c-disabled {
  color: rgba(0, 0, 21, 0.3);
}

.c-header .c-header-nav .c-show > .c-header-nav-link,
.c-header .c-header-nav .c-active > .c-header-nav-link,
.c-header .c-header-nav .c-header-nav-link.c-show,
.c-header .c-header-nav .c-header-nav-link.c-active {
  color: rgba(0, 0, 21, 0.9);
}

.c-header .c-header-toggler {
  color: rgba(0, 0, 21, 0.5);
  border-color: rgba(0, 0, 21, 0.1);
}

.c-header .c-header-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 21, 0.5)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-header .c-header-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 21, 0.7)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-header .c-header-text {
  color: rgba(0, 0, 21, 0.5);
}

.c-header .c-header-text a {
  color: rgba(0, 0, 21, 0.9);
}

.c-header .c-header-text a:hover, .c-header .c-header-text a:focus {
  color: rgba(0, 0, 21, 0.9);
}

/*# sourceMappingURL=header.css.map */