body {
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-bottom: 0 !important;
    height: 100%;
    position: relative
}

#payment-body {
    background: linear-gradient(180deg, #FFFFFF 0%, #f3f3d3 50%);
}

.padding {
    padding: 5rem !important
}

.form-control:focus {
    box-shadow: 10px 0px 0px 0px #ffffff !important;
    border-color: #4ca746
}

.container {
    margin-top: 30px;
    margin-bottom: 30px
}

.fa {
    color: #005080;
    margin-right: 5px;
}

button .fa {
    color: white;
}

.cursor-pointer {
    cursor: pointer
}




@media (max-width: 500px) {
    .container {
        padding-left: 11px;
        padding-right: 11px;
        overflow-x: hidden;
        margin-top: 10px;
    }

    .card-body {
        padding: 0.40rem;
    }

    .card {
        padding: 0 !important
    }
}
.master {
    display: flex;
    flex-wrap: wrap;
}

.title {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.6rem;
}

@media screen and (max-width: 768px ) {
    .filter {
        align-content: stretch;
        display: block;
        width: -webkit-fill-available;
        width: -moz-available;
    }
}


